<ion-nav-bar class="bar-transparent">        
    <ion-nav-buttons side="left">    
        <button ng-click="GoBack()" class="button button-clear button-transparent button-icon ion-ios-arrow-back" style=""></button>                              
        <button class="button button-transparent" style="background-image: url('img/png/ic_stat_notify.png'); background-size:40px; background-repeat: no-repeat; max-height: 44px; min-height: 44px; height: 44px;"></button>                
    </ion-nav-buttons>    
    <ion-nav-buttons side="right">                    
        <button class="button button-transparent" style="background-image: url('img/png/icon_share.png'); background-size:35px; background-repeat: no-repeat; left:20px; top:5px;"></button>                
    </ion-nav-buttons>  
</ion-nav-bar>
<ion-view view-title="Détails annonce">
    <ion-content>        
      <ion-item>        
        <div class="list half">
            <div class="card card-gallery item item-text-wrap" style="display: table;">
                <div class="ink dark-bg">                                          
                    <img class="full-image" src="img/jpg/london2.jpg">                                        
                    <span class="heart" style="background-image: url('img/png/heart.png'); top:50px; right: 5px;"></span>
                    <div class="price"><center>26 €</center></div>                     
                </div>              
                <div class="center-padding">
	                <center>
		                <div class="annonce-title">Lovely Penthouse</div>
		                <img class="profil" src="img/png/sf_comcom1.png">
		                <div class="thick-txt-a">Chambre privée</div>
		                <div class="thick-txt-b">Hébergé chez Simone</div>
		                <div class="pink-txt">Contacter l'hôte</div>
		                <hr class="old-hr"/>
		                <div class = "row">
			               <div class = "col col-30">
			               		<img class="col-icon" src="img/png/icon_p3_guests.png">
			               		3 voyageurs
			               </div>
			               <div class = "col col-30">
			               		<img class="col-icon" src="img/png/icon_p3_rooms.png">
			               		1 chambre
			               		</div>
			               <div class = "col col-30">
			               		<img class="col-icon" src="img/png/icon_p3_beds.png">
			               		3 lits
			               		</div>
			            </div>
			            <div class="nb-comment">26 commentaires</div>
			            <img class="profil" src="img/png/empty_profile_halo_large.png">
			            <div class="map"></div>
			            <div class="nb-comment">Description</div>
			        </center>
			            <div class="thick-txt-a">lovely wood penthouse</div>
		                <div class="thick-txt-b">2 beds + 2 couch bed fast wifi</div>
		                <div class="thick-txt-b">2 smart tv</div>	       
		            <center>
		                	<div class="nb-comment">Annonce</div>
		            </center>         
		           		<hr class="old-hr"/>
		            <div class="row">		            	
		            	<div class="col col-50 left-item">Type d'annconce</div>
		            	<div class="col col-50 right-item">chambre privée</div>
		            </div>
		            	<hr class="item-hr"/>
		            <div class="row">		            	
		            	<div class="col col-50 left-item">Capacité d'accueil</div>
		            	<div class="col col-50 right-item" style="text-align: right;">3</div>
		            </div>		            
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Chambre</div>
		            	<div class="col col-50 right-item">1</div>
		            </div>
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Lits</div>
		            	<div class="col col-50 right-item">3</div>
		            </div>
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Salles de bain</div>
		            	<div class="col col-50 right-item">1</div>
		            </div>
		            <center>
		                	<div class="nb-comment">Détails</div>
		            </center>         
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Conditions d'annulation</div>
		            	<div class="col col-50 right-item-pink">Modé...</div>
		            </div>
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Règlement interieur</div>
		            	<div class="col col-50 right-item-pink">voir</div>
		            </div>
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Disponibilité</div>
		            	<div class="col col-50 right-item-pink">voir le calendrier</div>
		            </div>
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Arrivée</div>
		            	<div class="col col-50 right-item">18:000</div>
		            </div>
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Départ</div>
		            	<div class="col col-50 right-item">9:00</div>
		            </div>
		            <hr class="item-hr"/>
		            <div class="row">
		            	<div class="col col-50 left-item">Détails du prix</div>
		            	<div class="col col-50 right-item-pink">Voir</div>
		            </div>
		            <hr class="item-hr"/>
		            <center>
		                	<div class="nb-comment">A propos de Simone</div>
		                	<img class="profil" src="img/png/sf_comcom1.png">
		                	<div class="nb-comment">Egna, Trentino-Alto, Italy</div>
		            </center>         
		            <div class="thick-txt-a">Please take your own bed blanket if possible! Thanks a lt for understading :)</div>
		            <div class="thick-txt-b">late check in early</div>
		            <center>
		            <button class="button button-border button-transparent button-pink">Plus sur l'hôte</button>
		            </center>
		            <hr class="item-hr"/>
		            <center>
		            	<div class="thick-txt-b">Logement similaire</div>
		            </center>
		            <div class="ionic-content-bottom"></div>
                </div>
            </div>
        </div>        
      </ion-item>
    </ion-content>             
    <div class="pink-footer"><span class="center-txt">Envoyer une demande</span></div>
</ion-view>